html, body { height: 100%; }

body {
  color: rgb(3, 3, 70);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header-spacer {
  height: 4.5rem;
}

.shop-now-button {
  background: rgb(3, 3, 70);
  color: #fff !important;
  border: 1px solid #000;
  transition: all .15s ease-in-out;
}
.shop-now-button:hover,
.shop-now-button:focus {
  background: transparent;
  color: rgb(3, 3, 70) !important;
}

.header-container {
  background: #fff;
  padding: .75rem 0;
}
