html, body { height: 100%; }

body {
  color: rgb(5, 5, 82);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: url('/media/lightbackgroung.webp') no-repeat center center fixed;
  background-size: cover;             
}

.header-spacer {
  height: 4.5rem;
}

/* Buttons */
.all-courses-button {
  background: rgb(5, 5, 82) !important;
  color: #fff !important;
  border: 1px solid #000;
  transition: all .15s ease-in-out;
}

.all-courses-button:hover,
.all-courses-button:focus {
  background: #fff !important;
  color: rgb(5, 5, 82) !important;
  border: 1px solid rgb(5, 5, 82);
}

.btn-outline-primary {
  color: rgb(5, 5, 82);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: rgb(5, 5, 82);
  color: #fff;
  border-color: rgb(5, 5, 82);
}

/* Images */
.card .card-img-top {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card.h-100 {
  overflow: hidden;
}